*{
    margin: 0;
    padding: 0;
}
body{
    margin: 20px 100px;
}

/* image */
.image{
    display: flex;
    justify-content: center;
}
.image img{
    width: 450px;
}

/* container */
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #eeeeee;
    font-size: 22px;
}

/* buttons */
.actions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 6px 0;
}
.actions button{
    font-size: 18px;
}

/* footer */
.footer{
    display: grid;
    grid-template-columns: 37% 20% 43%;
    text-align: center;
    gap: 2px;
    margin-top: 2px;
}

.footer-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.footer-left{
    background-color: #7ee5da;
    font-size: 18px;
}

.footer-center{
    background-color: #70ccc2;
}
.footer-right{
    background-color: #62b3aa;
}

.footer-right input{
    width: fit-content;
}
.footer-right button{
    width: max-content;
    padding: 0 5px;
    margin-right: 1px;
}

.copyright{
    text-align: center;
    padding: 30px;
}
